/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Imports */
@import 'tailwindcss';
@source "../views/";
@source "../../app/";

/* Theme Variables */
@theme {
  --color-proline-dark: #1e1c1d;
  --color-proline-gray: #e6e7de;
  --color-proline-persimmon: #a93e10;
  --color-proline-natural-sienna: #b69d70;
  --color-proline-phthalo-green: #012b26;
  --color-proline-light-gray: #e6e7e0;
  --color-proline-soft-green: #b6bca7;
  --color-proline-cedar: #797168;
  --color-proline-linen: #f0e8d8;
  --color-proline-burnt-sienna: #856c4f;
  --color-proline-dark-vanilla: #c3c2b3;
  --color-proline-silk: #e4e5dd;
  --color-proline-artichoke: #a09b8b;
  --color-proline-jungle: #373a02;
  --color-proline-charcoal: #262525;
  --color-proline-fog: #bebebe;
  --color-proline-granite: #4f4a48;
  --color-proline-sable-black: #1e1c1d;
}

/* Font Faces */
@font-face {
  font-family: 'At Hauss';
  src: url('../fonts/At\ Hauss\ Web\ Fonts/Web Fonts/AtHauss-Regular.woff2')
      format('woff2'),
    url('../fonts/At\ Hauss\ Web\ Fonts/Web Fonts/AtHauss-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maxeville';
  src: url('../fonts/Maxeville\ Web\ Fonts/Maxeville/Maxeville-Regular.woff2')
      format('woff2'),
    url('../fonts/Maxeville\ Web\ Fonts/Maxeville/Maxeville-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
body {
  font-family: 'At Hauss', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maxeville', sans-serif;
}

.h-4 {
  height: calc(var(--spacing) * 4) !important;
}

.unset-aspect-ratio img {
  aspect-ratio: unset !important;
}

div.wp-block-woocommerce-product-collection ul li h3 {
  text-align: left !important;
}

a {
  font-family: 'Maxeville', sans-serif;
}

a:where(:not(.wp-element-button)) {
  text-decoration: none;
}

/* Utility Classes */
.proline-max-w-half {
  @apply max-w-full sm:max-w-1/2;
}

.proline-max-w-one-quarter {
  @apply max-w-full sm:max-w-1/4;
}

:where(.wp-block-columns) {
  margin-bottom: 0rem;
}

.wpcf7-not-valid-tip {
  color: var(--color-proline-persimmon);
  font-size: 0.75em;
  font-weight: normal;
  display: block;
}

.wpcf7 form .wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  text-align: center;
  border-color: var(--color-proline-persimmon) !important;
  color: var(--color-proline-silk);
  background-color: var(--color-proline-persimmon);
}

#main {
  background-color: var(--color-proline-gray);
}

/* Navigation Styles */
.proline-megamenu-list {
  list-style: none;
  padding-left: 0rem;
}

.proline-megamenu-list li {
  break-inside: avoid;
  position: relative;
  padding-left: 2rem;
}

.proline-megamenu-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0rem;
  width: 1rem;
  height: 1rem;
  background-image: url('../images/layout/bullet-iso.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Page Header */
.page-header > h1 {
  display: none;
}

/* List Styles */
.proline-custom-list-top-right-bullet {
  list-style: none;
  padding-left: 0;
  line-height: 1rem;
}

.proline-custom-list-top-right-bullet li {
  position: relative;
  padding-left: 2rem;
}

.proline-custom-list-top-right-bullet li::before {
  content: '';
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-image: url('../images/layout/bullet-iso-granite.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Section Styles */

:where(figure) {
  margin: 0;
}

.proline-section-no-margin {
  margin: 0;
}

.proline-section-padding {
  @apply py-20 px-10 sm:px-10;
}

.proline-sub-section-padding {
  @apply py-10 px-10 sm:px-10;
}

.proline-header-with-right-image-padding {
  @apply pt-0 pr-10 pb-0 pl-10 sm:pl-10 sm:pr-0;
}

.proline-section-border-bottom-dark {
  border-bottom: 1px solid var(--color-proline-dark);
}

.wp-block-columns.wp-container-core-columns-is-layout-3 {
  gap: 8px;
}

.proline-section-linen {
  background-color: var(--color-proline-linen);
  color: var(--color-proline-dark);
}

.proline-section-dark {
  background-color: var(--color-proline-dark);
  color: var(--color-proline-silk);
}

.proline-section-burnt-sienna {
  background-color: var(--color-proline-burnt-sienna);
  color: var(--color-proline-silk);
}

.proline-section-cedar {
  background-color: var(--color-proline-cedar);
  color: var(--color-proline-dark);
}

.proline-section-dark-vanilla {
  background-color: var(--color-proline-dark-vanilla);
  color: var(--color-proline-dark);
}

.proline-section-silk {
  background-color: var(--color-proline-silk);
  color: var(--color-proline-dark);
}

.proline-section-artichoke {
  background-color: var(--color-proline-artichoke);
  color: var(--color-proline-silk);
}

.proline-section-soft-green {
  background-color: var(--color-proline-soft-green);
  color: var(--color-proline-dark);
}

.proline-section-charcoal {
  background-color: var(--color-proline-charcoal);
  color: var(--color-proline-silk);
}

.proline-section-natural-sienna {
  background-color: var(--color-proline-natural-sienna);
  color: var(--color-proline-silk);
}

.proline-section-fog {
  background-color: var(--color-proline-fog);
  color: var(--color-proline-dark);
}

.proline-section-granite {
  background-color: var(--color-proline-granite);
  color: var(--color-proline-silk);
}

.proline-section-sable-black {
  background-color: var(--color-proline-sable-black);
  color: var(--color-proline-soft-green);
}

.proline-section-jungle {
  background-color: var(--color-proline-jungle);
  color: var(--color-proline-silk);
}

.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 3px;
  background-color: var(--color-proline-persimmon);
}

.wp-block-column p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-right: auto;
}

.proline-section-jumbo-text {
  font-size: 4.5rem !important;
  max-width: 100% !important;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: 'Maxeville', sans-serif !important;
}

.proline-section-large-text {
  font-size: 3rem !important;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: 'Maxeville', sans-serif !important;
}

.proline-section-phthalo-green {
  background-color: var(--color-proline-phthalo-green);
  color: var(--color-proline-soft-green);
}

.proline-section-light-gray {
  background-color: var(--color-proline-light-gray);
  color: var(--color-proline-dark);
}

/* Button Styles */
.proline-section-no-background-button a {
  background-color: transparent;
}

.proline-section-dark-button a {
  margin: 1rem 0;
  border-bottom: 1px solid var(--color-proline-silk);
  border-radius: 0;
}

.proline-section-persimmon-button a {
  color: var(--color-proline-persimmon);
  margin: 1rem 0;
  border-radius: 0;
}

.proline-section-light-gray-button a {
  color: var(--color-proline-dark);
  margin: 1rem 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-proline-phthalo-green);
}

.proline-section-cedar-button a {
  color: var(--color-proline-dark);
  margin: 1rem 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-proline-dark);
}

.proline-section-soft-green-button a {
  color: var(--color-proline-dark);
  margin: 1rem 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-proline-dark);
}

.proline-section-jungle-button a {
  color: var(--color-proline-jungle);
  margin: 1rem 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-proline-jungle);
}

.proline-section-natural-sienna-button a {
  color: var(--color-proline-natural-sienna);
  margin: 1rem 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-proline-natural-sienna);
}

.proline-section-contact-button {
  color: var(--color-proline-dark);
  margin: 1rem 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-proline-dark);
}

.proline-persimmon-text {
  color: var(--color-proline-persimmon);
}

.proline-soft-green-text {
  color: var(--color-proline-soft-green);
}

.proline-dark-text {
  color: var(--color-proline-dark);
}

.proline-jungle-text {
  color: var(--color-proline-jungle);
}

.proline-natural-sienna-text {
  color: var(--color-proline-natural-sienna);
}

.proline-silk-text {
  color: var(--color-proline-silk);
}

.proline-section-border-bottom-light-gray {
  border-bottom: 1px solid var(--color-proline-light-gray);
}

.proline-light-gray-text {
  color: var(--color-proline-light-gray);
}

.proline-persimmon-button-woocommerce-button {
  color: var(--color-proline-persimmon);
  background-color: transparent;
  border: 1px solid var(--color-proline-persimmon);
  padding: 0.5em 1em;
  border-radius: 0;
}

.proline-jungle-button-woocommerce-button {
  color: var(--color-proline-jungle);
  background-color: transparent;
  border: 1px solid var(--color-proline-jungle);
  padding: 0.5em 1em;
  border-radius: 0;
}

.proline-persimmon-button-woocommerce-button-secondary {
  color: var(--color-proline-persimmon);
  background-color: transparent;
  border: 1px solid var(--color-proline-persimmon);
  border-radius: 0;
}

.proline-persimmon-button-woocommerce-add-sample-button {
  background-color: var(--color-proline-persimmon) !important;
  padding: 0.5em 1em;
}

.proline-jungle-button-woocommerce-add-sample-button {
  background-color: var(--color-jungle-persimmon) !important;
  padding: 0.5em 1em;
}

.proline-jungle-button-woocommerce-add-sample-button {
  background-color: var(--color-proline-jungle) !important;
  padding: 0.5em 1em;
}

.proline-persimmon-button-woocommerce-brochure-button {
  background-color: var(--color-proline-persimmon) !important;
  padding: 0.5em 1em;
}

.wc-block-product .wp-block-post-title {
  font-size: 1.7rem !important;
  line-height: 1.1;
}

.wc-block-components-product-image a {
  position: relative;
  display: block;
}

.proline-jungle-button-woocommerce-add-sample-button,
.proline-persimmon-button-woocommerce-add-sample-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 3px 0;
  background: rgba(
    255,
    255,
    255,
    0.85
  ); /* Optional: semi-transparent background */
  display: flex;
  justify-content: center;
}

.proline-sample-button {
  width: 90%;
  margin: 0 auto;
  background-color: transparent !important;
}

.proline-product-categories {
  color: var(--color-proline-dark) !important;
  font-size: 0.9em;
}

.wp-block-gallery.has-nested-images figure.wp-block-image::before {
  content: none !important;
  display: none !important;
}

/* START - This block matches the Figma design for the gallery captions. */
/* .wp-block-image figcaption.wp-element-caption {
  position: static !important;
  background: none !important;
  padding: 0.5em 0 0 !important;
  text-align: left !important;
}

.wp-block-gallery.has-nested-images.lightbox-enabled figure.wp-block-image {
  margin-bottom: 3rem !important;
} */

/* END - This block matches the Figma design for the gallery captions. */

.woocommerce-product-gallery__wrapper {
  display: block !important;
}

.woocommerce-product-gallery__wrapper
  .woocommerce-product-gallery__image:not(:first-child) {
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  width: auto;
  vertical-align: top;
}

.ajax_add_to_cart {
  margin-bottom: 0 !important;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border: 0 !important;
}

.wp-block-button.wc-block-components-product-button.is-style-outline
  .wp-block-button__link {
  border: 0 !important;
}

.how-we-work-step-fix,
#block-404c8d15-72db-426f-be0a-70afc4a6425a {
  display: none !important;
}

.proline-header-logo {
  max-width: 180px !important;
  height: auto !important;
}
@media (max-width: 640px) {
  .proline-header-logo {
    max-width: 300px !important;
  }
}

.is-large.wc-block-cart,
.is-small.wc-block-components-sidebar-layout {
  margin-bottom: 0 !important;
}
.padding-left-0 a,
.padding-left-0 {
  padding-left: 0 !important;
}

.wp-block-post-title a {
  color: var(--color-proline-dark) !important;
}

.woocommerce > .woocommerce-order {
  @apply py-20 px-10 sm:px-10;
}

.attachment-woocommerce_single {
  width: 90% !important;
}

.e-content {
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--color-proline-dark);
}

.e-content h1,
.e-content h2,
.e-content h3,
.e-content h4,
.e-content h5,
.e-content h6 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
.e-content h1 {
  font-size: 2.5rem;
}
.e-content h2 {
  font-size: 2rem;
}
.e-content h3 {
  font-size: 1.5rem;
}
.e-content h4 {
  font-size: 1.25rem;
}
.e-content h5 {
  font-size: 1.1rem;
}
.e-content h6 {
  font-size: 1rem;
}
